%body
    .first
        %button.reports#reports{:disabled => true} See Reports
    .second
        %button.upload#upload{:disabled => true} Upload Data
        
    - if flash[:login]
        .flash Login Successful!
        
    = form_tag admins_path, :method => :post do
        
        = text_field :username, 'Username'
        = text_field :password,  'Password', :type => "password"
        
        = submit_tag 'Log In'