!!! 5
%html
  %head
    %title PopUp Class Manager
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'index'
    = csrf_meta_tags

    
    %h1 Pop Up Class Registration
    
  %body
    = yield
